/*Titillium Web font, used as per design spec and mockups. License for use found in fonts file.*/

@font-face{
    font-family: "Titillium Web";
    src: url(../fonts/TitilliumWeb-Regular.ttf) format("ttf");
    font-weight: 400;
}

@font-face{
    font-family: "Titillium Web";
    src: url(../fonts/TitilliumWeb-SemiBold.ttf) format("ttf");
    font-weight: 600;
}