$primary__text: #13182C; //InStock-Black used for global text colour
$primary__interactive: #2E66E5; //InStock-Indigo used for interactive elements
$primary__white: #FFFFFF; //White, global white colour
$secondary__header-placeholder: #5C667E; //Slate, used for table column headers and placeholder text
$secondary__outlines: #BDC5D5; //Cloud, used for outlines, dividers, borders, and table sorting icon
$background__header-hover: #232940; //Graphite, used for top navigation header background, CTA button hover state background
$background__page-table-CTA: #F7F8F9; //Light-Grey, page background, table column header background, CTA background
$supporting__instock: #158463; //Green, in-stock label
$supporting__outofstock: #C94515; //Red, out-of-stock label