$primary__text: #13182c; //InStock-Black used for global text colour
$primary__interactive: #2e66e5; //InStock-Indigo used for interactive elements
$primary__white: #ffffff; //White, global white colour
$secondary__header-placeholder: #5c667e; //Slate, used for table column headers and placeholder text
$secondary__outlines: #bdc5d5; //Cloud, used for outlines, dividers, borders, and table sorting icon
$background__header-hover: #232940; //Graphite, used for top navigation header background, CTA button hover state background
$background__page-table-CTA: #f7f8f9; //Light-Grey, page background, table column header background, CTA background
$supporting__instock: #158463; //Green, in-stock label
$supporting__outofstock: #c94515; //Red, out-of-stock label
