/**
 * /*Titillium Web font, used as per design spec and mockups. License for use found in fonts file.
 *
 * @format
 */

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/TitilliumWeb-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/TitilliumWeb-SemiBold.ttf");
  font-weight: 600;
  font-style: bold;
}
