/*Titillium Web font, used as per design spec and mockups.*/

@font-face{
    font-family: "Titillium Web";
    src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("otf"),
    url(../../assets/Font/Alternative-files/AvenirNextLTPro.ttf) format("ttf");
    font-weight: 400;
}

@font-face{
    font-family: "Titillium Web";
    src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("otf"),
    url(../../assets/Font/Alternative-files/AvenirNextLTProBold.ttf) format("ttf");
    font-weight: 600;
}