/*Titillium Web font, used as per design spec and mockups. License for use found in fonts file.*/

@font-face{
    font-family: "Titillium Web";
    src: url("../fonts/TitilliumWeb-Regular.ttf") format("ttf"),
    url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400&display=swap');
    font-weight: 400;
}

@font-face{
    font-family: "Titillium Web";
    src: url("../fonts/TitilliumWeb-SemiBold.ttf") format("ttf"),
    url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
    font-weight: 600;
}