@use "./assets/partials/design-colours" as *;
@use "./assets/partials/fonts" as *;

html,
button,
body {
    font-family: "Titillium_Web";
    font-weight: 400;
    color: $primary__text;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
h1,
h2,
h3,
h4,
p,
ul,
img,
label {
    margin: 0;
    padding: 0;
}